.layout {
  font-family: 'PT Serif', serif;
  text-align: center;
  background-color: #333333;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

#root {
  font-family: 'PT Serif', serif;
  font-size: 28px;
  background-color: #333333;
}

/* Cards */
#card-container {
  height: 40vh;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0);
}

@media (max-width: 1000px) {
  #card-container {
    height: 30vh;
    margin-bottom: 2%;
  }
}

/* Flashcard */
#flashcard-icon {
  height: 36px;
  width: 36px;
}

#button-styling {
  border: 0px;
  background-color: white;
  padding: 0;
}

/* Sidebar */
#navSidebarContainer {
  padding-top: 50%;
  background: rgba(31, 31, 31, 0.9);
  position: absolute;
  min-width: 100vw;
  height: 100vh;
  z-index: 296;
}

#navSidebarContainer {
  width: 100%;
}

/* Translation and Speech */

#translation-translate-container {
  height: 112px;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: 18px;
}

#play-icon {
  content: url('../images/icons/play-circle.svg')
}

#play-icon:hover {
  content: url('../images/icons/play-circle-fill.svg');
}