/* Globals */
#root {
  font-family: 'PT Serif', serif;
  font-size: 28px;
  background-color: #333333;
}

/* * {
  outline: 1px dashed red;
} */

.table {
  font-size: 10px;
}

#card-container img {
  height: 100%;
  width: 50%;
  object-fit: contain;
}

/* Cards */
#card-container {
  height: 40vh;
  box-shadow: 0 2px 20px rgba(0, 0, 0);
}

@media (max-width: 1000px) {
  #card-container {
    height: 30vh;
    margin-bottom: 2%;
  }
}

/* Flashcard */
#flashcard-icon {
  height: 36px;
  width: 36px;
}

#button-styling {
  border: 0px;
  background-color: white;
  padding: 0;
}

/* Sidebar */
#navSidebarContainer {
  padding-top: 50%;
  background: rgba(31, 31, 31, 0.9);
  position: absolute;
  min-width: 100vw;
  height: 100vh;
  z-index: 296;
}

#navSidebarContainer {
  width: 100%;
}

/* Icon Hover */

#play-icon {
  content: url('../images/icons/play-circle.svg')
}

#play-icon:hover {
  content: url('../images/icons/play-circle-fill.svg');
}

#delete-icon {
  content: url('../images/icons/x-circle.svg')
}

#delete-icon:hover {
  content: url('../images/icons/x-circle-fill.svg')
}

#question-icon {
  content: url('../images/icons/question-circle.svg')
}

#question-icon:hover {
  content: url('../images/icons/question-circle-fill.svg')
}