.App {
  font-family: 'Gulzar', serif;
  text-align: center;
}

.App-div {
  background-color: #333333;
  min-height: 94.4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#translation-container {
  padding-top: 4%;
  height: 40vh;
  width: 40vw;
  border-radius: 15px;
  background-image: url("./images/flag.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
